{% extends 'base.html.twig' %}

{% block title %}Crazy Couchages !{% endblock %}


{% block body %}
    <div class="row d-flex align-items-center justify-content-center">
        <h1 class="text-center mt-2 mb-4">Découvrez les annonces les plus craaazy du moment !</h1>

  {% for annonce in annonces %}

    <div class="card text-center m-2" style="max-width: 35rem;">
        <div class="card-header">
            <h2>Disponible !</h2>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ annonce.name }}</h3>
            <img class="img-fluid img-thumbnail" src="{{  asset('image_directory/' ~ annonce.image ~ '')}}" alt="Card image cap">
            <p class="card-text">{{ annonce.description }}</p>
            <h4 class="card-title">Type de logement</h4>
            <p class="card-text">{{annonce.logement.type}}</p>
            <h4 class="card-title">Catégorie</h4>
            <p class="card-text">{{annonce.category.label}}</p>
            <a href="#" class="btn btn-primary">Découvrir</a>
        </div>
    </div>

  {% endfor %}
    </div>
{% endblock %}
