{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.label }}</td>
                <td>{{ category.id }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Voir</a>

                    {% if is_granted('ROLE_ADMIN') %}

                        <a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
                        
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
