{% extends 'base.html.twig' %}

{% block title %}Logement index{% endblock %}

{% block body %}
    <h1>Logement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logement in logements %}
            <tr>
                <td>{{ logement.type }}</td>
                <td>{{ logement.id }}</td>
                <td>
                    <a href="{{ path('app_logement_show', {'id': logement.id}) }}">show</a>
                    <a href="{{ path('app_logement_edit', {'id': logement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_logement_new') }}">Create new</a>
{% endblock %}
